{% extends 'common/base.html' %}

{% block content %}

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8">
                <div class="card shadow-sm">
                    <div class="card-body">

                        <h4 class="card-title text-center mb-4">Edit Profile</h4>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% if form.instance.image %}
                                <div class="text-center mb-3">
                                    <img src="{{ form.instance.image.url }}" alt="{{ form.instance.image }}"
                                         class="rounded img-fluid" id="profile-image" style="cursor: pointer; width: 150px; height: 150px;">
                                {{ form.remove_avatar }}
                                </div>
                            {% else %}
                                <div class="text-center mb-3">
                                <img src="https://via.placeholder.com/150" class="img-fluid"
                                     alt="{{ profile.first_name }} {{ profile.last_name }}">
                                </div>
                            {% endif %}

                            {% for field in form %}
                                <div class="mb-3">
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="text-danger">{{ field.errors }}</div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <button class="btn btn-primary ml-2">Change</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('profile-image').addEventListener('click', function () {
            if (confirm("Are you sure you want to delete your profile image?")) {
                let removeAvatarField = document.querySelector('[name="remove_avatar"]');
                removeAvatarField.checked = true; // Mark the avatar for removal
            }
        });
    </script>

{% endblock %}