{% extends 'common/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-body">

                        <h4 class="card-title text-center mb-4">Article: {{ article.title }}</h4>
                        <p class="card-text text-center">{{ article.description }}</p>
                    
                        <div class="col-md-8 col-lg-8 mb-4">
                            <p class="d-inline me-3">Author: {{ article.author }}</p>
                            <p class="d-inline me-3">Likes: {{ article.likes_count }}</p>
                            <p class="d-inline me-3">Total comments: {{ article.comments.count }}</p>
                            <p class="d-inline me-3">Created on: {{ article.date_added|date:'d/m/Y' }}</p>
                            <p class="d-inline">Last edited on: {{ article.date_modified|date:'d/m/Y' }}</p>
                        </div>


                        {% if is_author %}
                            <div class="text-center">
                                <a href="{% url 'edit-article' article.pk %}" class="btn btn-primary">Edit article</a>
                                <a href="{% url 'delete-article' article.pk %}" class="btn btn-danger">Delete
                                    article</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}