{% extends 'common/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-body">

                        <h4 class="card-title text-center mb-4">Article: {{ article.title }}</h4>
                        <p class="card-text text-center">{{ article.description }}</p>

                        <ul class="col-md-12 col-lg-12 mb-4">
                            <li class="d-inline me-3">Author: {{ article.author }}</li>
                            <li class="d-inline me-3" id="likes_count">Likes: {{ likes_count }}</li>
                            <li class="d-inline me-3">Total comments: {{ article.comments.count }}</li>
                            <li class="d-inline me-3">Created on: {{ article.date_added|date:'d/m/Y' }}</li>

                            {% if article.date_added != article.date_modified %}
                                <li class="d-inline me-3">Last edited
                                    on: {{ article.date_modified|date:'d/m/Y - H:mA' }}</li>
                            {% endif %}

                            <li class="d-inline">Viewed: {{ article.views }} times</li>
                        </ul>

                        {% include 'blog/likes.html' %}

                        {% if is_author %}
                            <div class="text-center">
                                <a href="{% url 'edit-article' article.pk %}" class="btn btn-primary">Edit article</a>
                                <a href="{% url 'delete-article' article.pk %}" class="btn btn-danger">Delete
                                    article</a>
                            </div>
                        {% endif %}


                    </div>
                {% include 'blog/comments/comments.html' %}
                <a href="{% url 'add-comment' article.pk %}" class="btn btn-primary">Add comment</a>
                </div>

            </div>

        </div>

    </div>

{% endblock %}




